//====================================================================================================

.page {
	// .page__about
	&__about {
		@include adaptiveValue("padding-top", 320, 100, 1120, 320, 1);
	}
}
.about-page {
	// .about-page__container
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: rem(285);
		@media (max-width: $mobile) {
			min-height: rem(290);
			@include adaptiveValue("min-height", 285, 310, 767, 320, 1);
		}
	}
	// .about-page__body
	&__body {
		display: flex;
		align-items: flex-end;
		gap: rem(30);
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .about-page__about
	&__about {
		flex: 1 0 auto;
	}
	// .about-page__my-name
	&__my-name {
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 500;
		@include adaptiveValue("font-size", 60, 40, 1120, 727, 1);
		line-height: 97.2%;
		letter-spacing: -0.03em;
		span {
			display: inline-block;
			&:not(:last-child) {
				margin-bottom: em(15, 60);
			}
		}
	}
	// .about-page__who-am-i
	&__who-am-i {
		@include adaptiveValue("	margin-right", 60, 0, 1120, 991, 1);
		max-width: rem(580);
		@media (max-width: $mobile) {
			max-width: 100%;
		}
	}
	// .about-page__about-me
	&__about-me {
		font-family: "DM Sans";
		font-weight: 500;
		@include adaptiveValue("font-size", 32, 26, 1120, 727, 1);
		line-height: 1.17;
		letter-spacing: -0.03em;
		color: $greyColor;
	}
	// .about-page__icon
	&__icon {
		img {
			display: inline-block;
			@include adaptiveValue("height", 38, 26, 1120, 320, 1);
		}
	}
}

//====================================================================================================

.project-item {
	// .project-item__container
	&__container {
	}
	// .project-item__list
	&__list {
		@include adaptiveValue("padding-top", 115, 40, 1120, 320, 1);
		@include adaptiveValue("padding-bottom", 105, 40, 1120, 320, 1);
		border-bottom: 2px solid $darkColor;
		&.js-hidden {
			display: none;
		}
		@media (min-width: em(599.98)) {
			display: flex;
			column-gap: rem(40);
		}
	}
}

.list-projects {
	// .list-projects__description
	&__description {
		display: flex;
		flex-direction: column;
		max-width: rem(427);
		width: 100%;
	}
	// .list-projects__description-text
	&__description-text {
		flex: 1 1 auto;
		font-size: 18px;
		line-height: 1.21;
		letter-spacing: -0.03em;
	}
	// .list-projects__number-project
	&__number-project {
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: em(25, 18);
		}
	}
	// .list-projects__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 25);
		}
	}
	// .list-projects__sub-title
	&__sub-title {
		font-size: 14px;
		color: $greyColor;
		margin-bottom: em(15, 14);
	}
	// .list-projects__from-project
	&__from-project {
		display: inline-flex;
		@media (max-width: em(599.98)) {
			margin-bottom: em(22, 18);
			display: block;
		}
	}
	// .list-projects__more-shots
	&__more-shots {
		position: relative;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.21;
		border-bottom: 2.5px solid rgba(96, 96, 96, 0.4);
		padding: rem(2) 0;
		letter-spacing: -0.03em;
		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: 2.5px;
			bottom: -2.5px;
			left: 0;
			background-color: rgba(24, 23, 23, 0.5);
			transition: width 0.3s ease-in-out;
		}
		&:hover::before {
			width: 100%;
		}
	}
	// .list-projects__my-works
	&__my-works {
		position: relative;
		display: block;
		width: 100%;
		padding-bottom: 32.7%;
		padding-right: 11%;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.9;
			object-fit: cover;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
			@media (any-hover: hover) {
				&:hover {
					opacity: 1;
					transform: scale(1.02);
				}
			}
		}
	}
}

//========================================================================================================================================================
